body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.category-show-container {
  max-width: 800px;
  padding: 40px 0px;
  margin: 0px auto;
  width: 100%;
}

.category-show-main {
  position: relative;
}

.category-show-main-header {
  display: flex;
  justify-content: space-between;
}

.category-show-name {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.category-show-more {
  color: #0095ee;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 34px;
}

.show-more {
  margin-right: 15px;
}

.category-show-name-bottom {
  margin-bottom: 24px;
}

.category-show-items {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
}

.category-show-item {
  padding: 10px;
  width: 20%;
}

.category-show--item {
  padding: 10px;
  width: calc(100% / 3);
}

.category-show-item-container {
  visibility: visible;
  transition: all 0.5s ease 0s;
  opacity: 1;
}

.category-show-item-container>a {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}

.category-show-item-container>a:hover {
  border: 1px solid #3ccace;
}

.category-show-figure {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  flex-direction: column-reverse;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

.category-show-figcaption {
  height: 64px;
  box-sizing: border-box;
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  padding: 12px;
  white-space: normal;
  word-break: break-word;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.category-show-figcaption>span {
  display: inline-block;
  height: 2.8em;
  overflow: hidden;
  position: relative;
}

.favorite-item {
  align-items: center;
  background: #fff;
  bottom: 0;
  display: flex;
  height: 1.4em;
  margin: auto;
  position: absolute;
  right: 12px;
  top: 1.4em;
}

.category-show-item-thumbnail {
  height: 0;
  overflow: hidden;
  padding: 0 0 100%;
  position: relative;
  width: 100%;
}

.category-show-item-price {
  align-items: center;
  background: rgba(0,0,0,.4);
  border-radius: 0 14px 14px 0;
  bottom: 8px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 17px;
  height: 28px;
  letter-spacing: .02em;
  margin: 0;
  padding: 0 12px;
  position: absolute;
  z-index: 2;
}

.category-show-item-thumbnail>img {
  bottom: 0;
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}

.category-show-btn-container {
  margin-top: 48px;
}

.category-show-btn-main {
  display: flex;
  justify-content: space-between;
}

.category-show-backbtn {
  display: flex;
  visibility: visible;
}

.backbtn-a,
.page-not-current,
.nextbtn-a {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.pagebtn-a {
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.category-page-container {
  display: flex;
}

.category-show-item-pagebtn {
  display: flex;
}

.category-show-nextbtn {
  display: flex;
}

/* 商品に対するメッセージ機能部分のスタイリング */

.item-detail-message {
  width: 700px;
  margin: 8px auto;
}

.message-content {
  padding: 24px 7.5%;
  background: #fff;
}

.message-box {
  content: '';
  display: block;
  clear: both;
  
}

.message-items li {
  margin: 60px 0 0;
  display: flex;
}

.message-user {
  position: relative;
  top: -20px;
  display: block;
  color: #333;
  float: left;
}

.fa-user-circle {
  width: 100%;
  vertical-align: middle;
  height: 100%;
  font-size: 35px;
}

.message-user figcaption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 120px;
  max-width: 100%;
  min-width: 214px;
  height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-is-seller {
  margin: 8px 3px 0 15px;
  padding: 4px;
  background: #eef0f4;
  color: #000;
  text-align: center;
  border-radius: 3px;
  width: 70%;
}

.message-body {
  width: 600px;
  float: right;
  position: relative;
  padding: 16px;
  background: #eef0f4;
  border-radius: 0 15px 5px 8px;
  line-height: 1.5;
  word-break: break-all;
}

.message-icons {
  margin: 8px 0 0;
}

.message-icon-left {
  display: block;
  color: #aaa;
  float: left;
}

.message-icon-right {
  cursor: pointer;
  display: inline-block;
  color: #aaa;
  text-decoration: none;
  float: right;
}

.message-icon-right form {
  display: inline;
}

.message-icon-right button {
  border: none;
}


.message-body .icon-balloon {
  position: absolute;
  top: 8px;
  left: -9px;
  color: #eef0f4;
}

/* アイコン関係のやつ */
.fas,
.far {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.message-icon-right .fa-flag {
  color: #aaa;
}

.message-form p {
  padding: 8px;
  font-size: 14px;
  background: #fff6de;
}

.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.message-form .textarea-default {
  margin: 8px 0 0;
}

.message-submit {
  width: 100%;
  margin: 8px 0 0;
  font-size: 0;
  text-align: center;
}

.btn-default:disabled {
  border: 1px solid #888;
  background: #888;
  color: #fff;
}

.message-submit span {
  font-size: 14px;
  vertical-align: middle;
}

.fa-comment-alt {
  position: absolute;
  top: 8px;
  left: -9px;
  color: #eef0f4;
}

