<div class="category-show-btn-container">
  <div class="category-show-btn-main">
    <div class="category-show-backbtn">
      <a href="#" class="backbtn-a">
        <i class="fas fa-angle-double-left"></i>
      </a>
      <a href="#" class="backbtn-a">
        <i class="fas fa-angle-left"></i>
      </a>
    </div>
    <div class="category-show-item-pagebtn">
      <a href="#" class="pagebtn-a"></a>
    </div>
    <div class="category-show-nextbtn">
      <a href="#" class="nextbtn-a">
        <i class="fas fa-angle-right"></i>
      </a>
      <a href="#" class="nextbtn-a">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>
</div>