<%= render partial: "shared/header", locals: {categories: @categories} %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
    <%= link_to image_tag('camera.png' , size: '185x50' ,class: "purchase-btn-icon"), new_item_path, "data-turbolinks": false %>
</div>