.container {
  display: flex;
}

.user-items {
  width: 50%;
  margin: 0 auto;
}

.user-favorite-items {
  width: 50%;
}

.nickname {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.user-item-show {
  background-color: #f8f8f8;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  margin: 0 auto;
}

.user-item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.user-item-box-img {
  height: 50vh;
  width: 40vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.user-item-name {
  text-decoration: none;
  color: black;
}

.user-item-index {
  text-align: center;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}