.container {
  display: flex;
  margin-top: 50px;
}

.user-items {
  width: 50%;
  margin: 0 auto;
}

.user-favorite-items {
  width: 50%;
}

.nickname {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.user-item-show {
  background-color: #f8f8f8;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  margin: 0 auto;
}

.user-item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.user-item-box-img {
  height: 50vh;
  width: 40vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.user-item-name {
  text-decoration: none;
  color: black;
}

.user-item-index {
  text-align: center;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}

#feather-on {
  color: rgb(24, 110, 35);
}

#feather-off {
  color: #eee;
}

.relationship_buttons {
  text-align: center;
}

.follow {
  text-align: center;
}

.container-1 {
  margin: 30px auto;
  width: 60%;
  font-size: 15px;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu li a {
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.menu li a.active {
  color: #3ccace;
  border-bottom: 4px solid #3ccace;
} 

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
} 

.content.active {
  background: #fff;
  color: #333;
  min-height: 150px;
  padding: 12px;
  display: block;
} 

.content {
  display: none;
}

.follow-name {
  text-align: center;
}

.following-info-nickname {
  margin-left: 43%;
  font-size: 25px;
}

.follower-info-nickname {
  margin-left: 43%;
  font-size: 25px;
}

